*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 1.2rem;
    background: $dark_bg;
    color: #ffff;
}
h2 {
    font-weight: 700;
    margin-bottom: 1rem;
}
input{
          border: 1px solid rgba(255, 255, 255, 0.2);
    background: $dark_gradient_0;
    padding: 0.5rem 1rem;
    caret-color: #ffff;
}
::placeholder, input{
    color: #ffff;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f12a; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: $light_grey; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888; 
}
