*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 1.2rem;
    background: $dark_bg;
    color: #ffff;
}
h2 {
    font-weight: 700;
    margin-bottom: 1rem;
}
input{
          border: 1px solid rgba(255, 255, 255, 0.2);
    background: $dark_gradient_0;
    padding: 0.5rem 1rem;
    caret-color: #ffff;
}
::placeholder, input{
    color: #ffff;
}
