// Palette
$brand_primary: #E50914;
$brand_primary_dark: #b9090b;
// $brand_light: #ffff; 
$dark_bg: rgb(20,20,20);
$light_grey: #b3b3b3;
$dark_grey: grey;

$dark_gradient_0: linear-gradient(0deg, rgba(20,20,20,0.05) 0%, $dark_bg 90%);

